# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
*   @sosey

/general_issues/ @sosey @drlaw1558

# Order is important; the last matching pattern takes the most
# precedence.
/MIRI/   @skendrew
/Pure_Parallels/  @goudfroo @bhilbert4
/NIRCam_grism_time_series/  @bhilbert4
/NIRISS_SOSS/   @Rplesha    @tbainesUA
/NIRSPEC_Fixed_Slit/    @hayescr  @PatrickOgle
/NIRSPEC_General/   @hayescr  @PatrickOgle
/NIRSPEC_IFU/   @hayescr  @PatrickOgle
/NIRSPEC_MOS/   @hayescr  @PatrickOgle
